@import '../../styles/variables.scss';

.countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 2rem;
    padding: 2rem 4rem;
  }


  @media screen and (max-width: $sm) {
    .countries {
     grid-template-columns: repeat(1, 1fr);
     padding: 1rem;
     }
  }

 @media screen and (max-width: $md) {
  .countries {
   grid-template-columns: repeat(1, 1fr);
   padding: 1rem;
   }
}

 @media (min-width: $md) {
     .countries {
       grid-template-columns: repeat(2, 1fr);
     }
 }

 @media (min-width: $lg) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}


